/* static/styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    background-color:#a6f282;
    color: #000000;
    padding: 10px;
}

h2 {
    color: #242424;
}

p {
    margin: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

a {
    color: #3a6027;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
