<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='locations.css') }}">
</head>
<body>
    <h1>Locais</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Dimensão</th>
        </tr>
        {% for location in locations %}
            <tr>
                <td><a href="{{ url_for('location', id=loop.index) }}">{{ location['name'] }}</a></td>
                <td>{{ location['type'] }}</td>
                <td>{{ location['dimension'] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
